# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/
*.log

# STS / Eclipse
.project
.classpath
.factorypath
.settings/
.springBeans
.sts4-data
bin/

# IntelliJ (if ever used)
.idea/
*.iml
out/

# VS Code (if ever used)
.vscode/

# OS files
.DS_Store

# Logs
*.log

# Temp files
*.tmp
*.swp

# Java
*.class
